node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat ignition default folder for deployments against a local node
ignition/deployments/chain-31337

data/agents.csv

upload_progress.json

# Python virtual environment
search-api/venv/
search-api/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

# Python environment variables
search-api/.env

# Python package directories
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

.DS_Store
**/.DS_Store

akash.env